

.contact-form-container {
  background: url('https://res.cloudinary.com/dbldemxes/image/upload/v1742855289/WoodHomepageBackground.webp') no-repeat center center;
  background-size: cover;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 70px 30px  #f5deb0;
  color: #5C4033;
}

.contact-heading {
  text-align: center;

  font-family: 'Special Elite', cursive;
  font-size: 32px;
  color: #5C4033;
  font-style: bold;
  font-size: 32px;
  color: #5C4033;

}

.contact-subtext {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 20px;
  color: #5C4033;
}

.form-label {
  text-align: left;
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #5C4033;
}

.form-control {
  background-color: #FFFFFF !important;
  border: 1px solid #5C4033;
  color: #5C4033;
}

.form-control::placeholder {
  color: #8B5E3C;
}

.form-control:focus {
  border-color: #8B5E3C;
  box-shadow: 0 0 5px rgba(139, 94, 60, 0.5);
}

.btn-primary {
  background-color: #573a2d !important;
  border-color: #573a2d !important;
  color: #FFFFFF !important;
  font-weight: bold;
  font-family:'Times New Roman';
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #2d1f14 !important;
  border-color: #2d1f14 !important;
}

.success {
  color: green;
}

.error {
  color: red;
}

.status-message {
  margin-top: 15px;
  font-weight: bold;
}