/* Header.css */

.app-header {
  position: relative;
  background-color: #000000;
  padding: 0px 0;
  overflow: hidden;
}


nav {
  position: relative;
  z-index: 3;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {


  font-family: 'Brush Script MT', cursive;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  transition: transform 0.3s ease;

}


.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  background: #28a745;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  background: #218838;
  text-decoration: none;
}


.nav-links a.active {
  font-weight: bold;
  color: whitesmoke;
  text-decoration: underline;
  background-color: #c9beaf;
  /* dark background for contrast */
  padding: 5px 10px;
  
  border-radius: 10px;
  /* rounded corners */
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.nav-link.active {
  font-weight: bold;
  color: #007bff !important;
}
