/* Header.css */

.app-header {
  
  background-color: #000000;
  padding: 0px 0;
  overflow: hidden;
}


nav {
  position: relative;
  z-index: 3;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 15px;
 
}

.logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  transition: transform 0.3s ease;
}


.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  background: #c79a63;
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  transition: background 0.3s ease;
  border-radius: 250%;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: ui-sans-serif;
  font-weight: bold;
}

.nav-links a:hover {
  background: #edc24e;
  text-decoration: none;
}


/* .nav-links a.active {
  font-weight: bold;
  color: whitesmoke;
  text-decoration: underline;
  background-color: #c9beaf;
  /* dark background for contrast */
  /* padding: 5px 10px; */
  
  /* border-radius: 10px;
  /* rounded corners */
/* } */

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.nav-link.active {
  font-weight: bold;
  color: #007bff !important;
}

.login-btn {
  background: #c79a63;
  border-radius: 250%;
  padding: 10px 15px;
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-family: ui-sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.login-btn:hover {
  background: #edc24e;
}