/* Header.css */

.app-header {
  
  background-color: #000000;
  padding: 0px 0;
  overflow: hidden;
}


nav {
  position: relative;
  z-index: 3;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 15px;
 
}

.logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  transition: transform 0.3s ease;
}


.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links a {
  /*background: #c79a63;*/
  
  color: white;
  padding: 10px 15px;
  border: none;
  
  text-decoration: none;
  display: flex;
  transition: background 0.3s ease;
  border-radius: 25px;
  width: 70px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: 'Special Elite';
  
}

.nav-links a:hover {
  background: #c8b297;
  text-decoration: none;
  
}




.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.nav-link.active {
  font-weight: bold;
  color: #007bff !important;
}

.login-btn {

  color: white;
  padding: 10px 10px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  transition: background 0.3s ease;
  border-radius: 25px;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: 'Special Elite';
 
}

.login-btn:hover {
  background:#c8b297;
}

.profile-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: skyblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px; 
}

.logo-avatar-container {
  display: flex;
  align-items: center;
}


/* Ensure the logo doesn't have any conflicting margins */
.logo {
  margin-left: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.eyes-container {
  display: flex;
  gap: 5px;
}

.eye {
  width: 20px;
  height: 22px;
  background: white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.eye::after {
  content: "";
  width: 11px;
  height: 11px;
  background: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(var(--pupil-x, 0px), var(--pupil-y, 0px));
  transition: transform 0.05s linear;
}