
.card {
    border-radius: 15px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    margin: 0 auto; 
    top: 15px;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
}

.card-body {
    flex: 1;
    
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 0.8rem;
    color: #6c757d;
}


@media (max-width: 768px) {
    .card {
        max-width: 250px; 
    }
    .card-img-top {
        height: 150px; 
    }
}

.no-results {
  text-align: left;  
  font-weight: bold; 
  font-size: 2rem;  
  padding-left: 10px;
  padding-top: 10px;
  background: radial-gradient(
      circle,
      #a8d0f9 10%,
      #4a90e2 35%,  
      #1e3a8a 60%,  
      #155e75 85%,  
      #a8d0f9 100%  
    );
    font-weight: 600;
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 3s linear infinite;
} 

@keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }